.graph-detail-page {
	box-sizing: border-box;
	padding: 24px;
	width: 100%;
	height: 100vh;
	position: relative;
	.img-box {
		text-align: center;
		.img {
			max-width: 100%;
		}
	}
	.close-goback {
		position: absolute;
		top: 24px;
		right: 24px;
		cursor: pointer;
	}
}
