.my-template-page {
	padding-left: 20px;
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	.card-item {
		width: 200px;
		height: 200px;
		margin-right: 20px;
		margin-bottom: 20px;
		position: relative;
		box-shadow: 1px 2px 12px 0px rgba(66, 81, 112, 0.15);
		.card-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;
			.text-name {
				font-size: 16px;
				font-weight: 400;
				color: #18181f;
				line-height: 22px;
				margin: 10px 0;
			}
			.text-time {
				font-size: 12px;
				font-weight: 400;
				color: rgba(24, 24, 31, 0.6);
				line-height: 22px;
			}
		}
		.card-footer {
			position: absolute;
			bottom: 10px;
			.operate-item {
				font-size: 12px;
				font-weight: 400;
				color: #18181f;
				cursor: pointer;
			}
		}
		.add-content-box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;
			margin: auto;
			.text-name {
				font-size: 16px;
				font-weight: 400;
				color: #18181f;
				line-height: 22px;
				margin: 10px 0;
			}
		}
	}
}
