.my-template-page {
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	position: relative;
	height: 100vh;
	width: 100%;
	.main-contain {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		height: 100%;
		min-width: 600px;
		overflow-y: auto;
		padding-bottom: 220px;
		.card-item {
			width: 100%;
			height: 200px;
			margin-right: 20px;
			margin-bottom: 20px;
			position: relative;
			box-shadow: 1px 2px 12px 0px rgba(66, 81, 112, 0.15);
			.card-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				cursor: pointer;
				.text-name {
					font-size: 16px;
					font-weight: 400;
					color: #18181f;
					line-height: 22px;
					margin: 10px 0;
				}
				.text-time {
					font-size: 12px;
					font-weight: 400;
					color: rgba(24, 24, 31, 0.6);
					line-height: 22px;
				}
			}
			.card-footer {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0);
				bottom: 10px;
				width: 167px;
				display: flex;
				align-items: center;
				.operate-item {
					font-size: 14px;
					font-weight: 400;
					color: #18181f;
					cursor: pointer;
					display: flex;
					align-items: center;
				}
			}
		}
		.add-item {
			width: 100%;
			height: 200px;
			margin-bottom: 20px;
			position: relative;
			border-radius: 4px 4px 4px 4px;
			border: 1px dashed #d4d6d9;
			.add-content-box {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: flex;
				flex-direction: column;
				align-items: center;
				cursor: pointer;
				margin: auto;
				.text-name {
					font-size: 16px;
					font-weight: 400;
					color: #18181f;
					line-height: 22px;
					margin: 10px 0;
				}
			}
		}
	}
	.foot-pagination-box {
		width: 100%;
		padding-right: 20px;
		height: 32px;
		margin-top: 20px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		bottom: 50px;
		.pagination-box {
			margin-right: 20px;
			font-size: 14px;
		}
	}
}
