.main-content {
	display: flex;
}
.graphin-box {
	width: calc(100% - 330px);
	padding: 0 20px;
	canvas {
		width: 100% !important;
		height: calc(100vh - 65px) !important;
	}
	.save-box {
		box-sizing: border-box;
		height: 60px;
		line-height: 60px;
		border-top: 1px solid #ccc;
		text-align: right;
	}
}

.filter-bar {
	width: 330px;
	box-shadow: 4px 0px 12px 0px rgba(66, 81, 112, 0.15);
}
