.detail-info-box {
	position: absolute;
	top: 0;
	right: 0;
	.node-detail-box {
		box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
		background: rgb(255, 255, 255);
		padding: 8px;
		box-sizing: border-box;
		.node-detail-item {
			height: 30px;
			line-height: 30px;
			font-size: 12px;
			font-weight: 400;
			color: #000;
			white-space: nowrap;
			.detail-item-title {
				margin-right: 5px;
				white-space: nowrap;
			}
		}
	}
}
