.filterGroupWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}
.btn {
	width: 66px;
	height: 34px;
	border-radius: 4px;
	font-size: 14px;
	font-family: Roboto-Regular, Roboto;
	font-weight: 400;
	color: #18181f;
}
.reset {
	margin-right: 10px;
	border: 1px solid #cccccc;
	&:hover {
		color: #000 !important;
		border-color: #1d7b4c !important;
	}
}
.submit {
	background: #23955c;
	color: #ffffff;
	&:hover {
		background: #23955c !important;
		border-color: #1d7b4c !important;
	}
	&:active {
		background: #23955c !important;
		border-color: #1d7b4c !important;
	}
	&:focus {
		outline: none;
	}
}
.addConnectBtn {
	width: 473px;
	height: 32px;
	background: #ffffff;
	border-radius: 4px;
	opacity: 1;
	border: 1px solid #d4d6d9;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
	cursor: pointer;
}
