.relationShipTip {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	.relationGroup {
		box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
		background: rgb(255, 255, 255);
	}
	.relationItem {
		box-sizing: border-box;
		height: 40px;
		margin: 4px;
		padding: 0 16px;
		line-height: 40px;
	}
}

.node-detail-box {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
	background: rgb(255, 255, 255);
	padding: 8px;
	box-sizing: border-box;
	width: 150px;
	.node-detail-item {
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		font-weight: 400;
		color: #000;
		.detail-item-title {
			margin-right: 5px;
		}
	}
}

:global {
	.graphin-components-legend {
		position: absolute !important;
		top: auto !important;
		right: auto !important;
		left: 0 !important;
		bottom: 0 !important;
		ul.graphin-components-legend-content li.item {
			display: block !important;
		}
	}
}
