.searchForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	background: #f8f9fa;
	// margin-bottom: 10px;
	padding: 0 20px;
	.search-handle-box {
		width: 138px;
		display: flex;
	}
}
:global {
	.ant-empty-image {
		margin-top: 200px;
	}
}
.main-page {
	padding: 20px;
}
.handle-table-box {
	margin: 20px 0;
	.add-button {
		width: 94px;
		height: 34px;
		background: #23955c;
		border-radius: 4px 4px 4px 4px;
		color: #fff;
		opacity: 1;
	}
}
.operate-box {
	display: flex;
	.operate-item {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
}
