.data-table {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	height: 100%;

	&__table {
		flex: 1 1 auto;
		height: 300px;
	}

	&__pagination {
		// flex: 0 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		text-align: center;
		font-size: 14px;
		:global {
			.ant-pagination .ant-pagination-item-active {
				background: #24a36f;
				border: none;
				a {
					color: #fff;
				}
			}
		}
	}
}

.empty {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.empty-tip1 {
	height: 21px;
	font-size: 14px;
	font-family: Noto Sans-Regular, Noto Sans;
	font-weight: 400;
	color: #18181f;
	line-height: 21px;
	margin-top: -15px;
	margin-bottom: 8px;
}
.empty-tip2 {
	height: 20px;
	font-size: 12px;
	font-family: Noto Sans-Regular, Noto Sans;
	font-weight: 400;
	color: #999999;
	line-height: 20px;
}
