/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: normal;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul,
li {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
	box-sizing: border-box;
}

/* custom */
a {
	color: #7e8c8d;
	text-decoration: none;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: rgba(125, 125, 125, 0.7);
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: rgba(125, 125, 125, 0.7);
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
html,
body {
	width: 100%;
	font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', '微软雅黑',
		sans-serif;
}
body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
	overflow-y: hidden;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
	content: ' ';
	display: inline-block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	*zoom: 1;
}

/*隐藏*/
.dn {
	display: none;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* display: flex; */
	place-items: center;
	color: #18181f;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	/* border: 1px solid transparent; */
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	box-shadow: none !important;
}
/* button:hover {
	border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */

.ant-tour {
	width: auto;
	min-width: 225px;
}
.ant-tour .ant-tour-arrow:before {
}
.ant-tour .ant-tour-inner .ant-tour-close {
}
.ant-tour .ant-tour-inner {
	padding: 14px;
}
.ant-tour .ant-tour-inner .ant-tour-close {
	top: 14px;
	right: 14px;
}
.ant-tour .ant-tour-inner .ant-tour-header {
	padding: 0;
}
.ant-tour .ant-tour-inner .ant-tour-header .ant-tour-title {
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
.ant-tour .ant-tour-inner .ant-tour-description {
	font-size: 12px;
	font-weight: 400;
	color: #767676;
	line-height: 22px;
	margin-top: 6px;
	padding: 0;
}
.ant-tour .ant-tour-inner .ant-tour-footer {
	padding: 0;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ant-tour .ant-tour-inner .ant-tour-footer .ant-tour-indicators {
	order: 1;
}
.ant-tour .ant-tour-inner .ant-tour-footer .ant-tour-buttons {
	margin: 0;
}
.ant-tour .ant-tour-inner .ant-tour-footer .ant-tour-buttons .ant-btn {
	margin: 0;
	width: 72px;
	height: 30px;
	background: #3574ee;
	border-radius: 2px 2px 2px 2px;
	font-size: 14px;
	outline: none;
}
.ant-tour
	.ant-tour-inner
	.ant-tour-footer
	.ant-tour-buttons
	.ant-tour-prev-btn {
	display: none;
}
.ant-tour .ant-tour-inner .ant-tour-footer .ant-tour-indicators {
	font-size: 14px;
	color: #3574ee;
	line-height: 22px;
	margin-left: 48px;
}
.ant-tour .ant-tour-inner .ant-tour-footer .ant-tour-indicators span {
	color: #767676;
}
.ant-tour .ant-tour-inner {
	border-radius: 4px 4px 4px 4px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.x6-widget-selection-selected {
	display: none;
}
