.container {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 400px;
	display: flex;
	background-color: #fff;
	.data {
		overflow: auto;
		// width: 600px;
		position: relative;
		flex: 1;
		.download {
			position: relative;
			padding-left: 40px;
			height: 50px;
			background: #f8f9fa;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&_icon {
				width: 20px;
				height: 20px;
			}
			&_text {
				font-size: 14px;
				line-height: 22px;
				margin-left: 8px;
			}
		}
		.tableWrapper {
			width: 100%;
			padding: 21px;
			overflow: auto;
			height: calc(100% - 21px - 50px + 15px);
		}
		&::after {
			content: '';
			height: 100%;
			width: 1px;
			position: absolute;
			top: 0;
			right: 0;
			background: rgba(24, 24, 31, 0.1);
		}
	}
	// .divider {
	// 	height: 413px;
	// 	width: 1px;
	// 	background: rgba(24, 24, 31, 0.1);
	// 	opacity: 1;
	// }
	// .rightConfigBox {
	// 	max-width: calc(100% - 600px);
	// }
	.configPanel {
		width: 510px;
		background-color: #fff;
		position: relative;

		&_title {
			position: relative;
			height: 50px;
			background: #f8f9fa;
			line-height: 50px;
			padding-left: 20px;
			display: flex;
			align-items: center;
			&_text {
				font-size: 14px;
				font-weight: bold;
			}
		}
		.configWrapper {
			width: 510px;
			padding: 20px;
			overflow: auto;
			height: calc(100% - 21px - 50px + 15px);
			.emptyConfig {
				width: 150px;
				height: 310px;
				line-height: 310px;
				margin: auto;
				text-align: center;
			}
		}
		.closeIcon {
			position: absolute;
			right: 20px;
		}
	}
	.hideConfigPanel {
		position: absolute;
		top: 0;
		right: 5px;
		.configPanel_title {
			width: 120px;
			position: relative;
			height: 50px;
			background: #f8f9fa;
			line-height: 50px;
			padding-left: 20px;
			display: flex;
			align-items: center;
			.configPanel_title_text {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
	.svgIcon {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	:global {
		.ant-table-wrapper .ant-table-thead > tr > th {
			min-width: 100px !important;
		}
	}
}
.emptyTableBox {
	height: 260px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
:global(.notificationWrap) {
	width: 290px !important;
	padding: 16px 15px !important;
	:global {
		.ant-notification-notice-message {
			display: none !important;
		}
		.ant-notification-notice-close {
			top: 50% !important;
			transform: translate(0, -50%) !important;
		}
		.ant-notification-notice-icon {
			top: 50% !important;
			transform: translate(0, -50%) !important;
		}
		.ant-notification-notice-description {
			margin-inline-start: 26px !important;
		}
	}
}
.tableIcon {
	width: 16px;
	height: 15px;
	background: url(../../../../../assets/SQLEditor/table.png) center / cover
		no-repeat;
}

.loadingIcon {
	svg {
		animation: rotate 1.5s linear infinite;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
